body{
    margin: 0;
    padding: 0;
}
.icon-area{
    margin-top: 10px;
    margin-bottom: 10px;
}
.container{
    width: 80%;
    margin: auto;
}
.icon-area ul{
    list-style: none;
}
.icon-area ul li{
    display: inline;
}
.icon-area ul li a{
    background-color: red;
    font-size: 40px;
    padding: 30px 40px;
    display:inline-block;
    color: black;
    border-radius: 30px;
}
.icon-area ul li a:hover{
    background-color: aqua;
    transition: 2s;
    transform: rotate(360deg);
    border-radius: 50%;
    color: red;
}
