*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
.container{
    width: 80%;
    margin: 0 auto;
    background-color: rgb(3, 3, 3);
    overflow: hidden;
}
.fbody{
    width: 50%;
    margin: 100px auto;
    background-color: rgb(242, 242, 242) ;
    padding: 25px;
}
.fhead{
    text-align: center;
    border-bottom: 7px solid black;
    width: 75%;
    margin: auto;
    margin-bottom: 25px;
}
